<p>two-way-binding works!</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type ="text" [(ngModel)]="userName" (change)="onUserChange($event)" placeholder="User Name">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br/>
        </div>
    <div class="row">
        <div class="col-xs-12">
            <label>{{userName}}</label>
        </div>
    </div>
    <div class ="row">
        <div class="clo-xs-12">
            <button class="btn btn-primary" [disabled]="!isUserExit" (click)="onUserExit()"> click user</button>
        </div>
        
    </div>
    
</div>
